@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs */
input,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
/* @media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */

/*! END OF CSS RESET--END OF CSS RESET */

/*! custom scrollbar */

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-accent);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blackish);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blackest);
}

/*! end of custom scrollbar */

:root {
  color-scheme: only light;
  --light-accent: hsl(200, 43%, 95%);
  --accent: hsl(197, 28%, 54%);
  --plain: hsl(204, 34%, 38%);
  --dark: hsl(206, 50%, 20%);
  --blackish: hsl(0, 0%, 25%);
  --blackest: hsl(0, 0%, 15%);

  --Hind: "Hind", sans-serif;
  --Montserrat: "Montserrat", sans-serif;
}

body {
  color: var(--blackish);
}

.flex-center {
  display: flex;
  justify-content: center;
}

.plain-background {
  background-color: var(--plain);

  position: relative;
  /* z-index: 999; */
  width: 100%;
}

.top-contact {
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;

  font-size: 0.9rem;
  font-family: var(--Hind);
}

.top-contact__item {
  display: flex;
  gap: 0.25rem;
}

.contact-image {
  width: 16px;
  height: 16px;
}

.navigation {
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.logo {
  padding: 0.5rem 1rem;
  margin-top: 1rem;

  font-size: 2.5rem;
  font-family: var(--Montserrat);
  letter-spacing: -3.25px;
  text-align: center;

  color: var(--blackest);
}

.nav-toggle {
  display: none;
  height: 0px;

  transition: all 0.3s ease-in-out;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);

  transition: transform 0.3s ease-in-out;
}

.nav-toggle:checked ~ nav ul {
  opacity: 1;
  transition: opacity 0.25s ease-in-out 0.25s;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  display: flex;
  align-items: center;

  user-select: none;
  padding-inline: 1rem;

  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--blackest);
  height: 2px;
  border-radius: 2px;
  position: relative;

  transition: width 0.25s ease-in-out;
}

.nav-toggle-label span {
  width: 1.5rem;
}

.nav-toggle:checked ~ .nav-toggle-label span {
  width: 2rem;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
  width: 2rem;
}

.nav-toggle:checked ~ .nav-toggle-label span::before,
.nav-toggle:checked ~ .nav-toggle-label span::after {
  width: 1.75rem;
}

.nav-toggle-label span::before {
  top: 7px;
}

.nav-toggle-label span::after {
  bottom: 7px;
}

nav {
  position: absolute;
  top: 98%;
  left: 0;
  gap: 1rem;

  background-color: var(--plain);
  width: 100%;

  transform: scale(1, 0);
  transform-origin: top;
  overflow-y: hidden;
  transition: transform 0.3s ease-in-out;
}

nav ul {
  margin: 0;
  padding-inline: 1rem;
  padding-bottom: 1rem;

  list-style: none;

  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.nav-li {
  padding-top: 1rem;
}

.nav-a {
  font-family: var(--Hind);
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--blackest);

  transition: color 250ms ease-in-out;
}

.nav-a:hover,
.active {
  color: hsl(0, 0%, 100%);

  transition: color 250ms ease-in-out;
}

.active {
  text-decoration: overline underline;
  text-underline-offset: 0.75rem;
}

@media screen and (min-width: 1000px) {
  .nav-toggle-label {
    display: none;
  }

  .navigation {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    gap: 2rem;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}

.parrallax-window {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 10%, 0.7)),
    url(assets/images/henry-co-3coKbdfnAFg-unsplash2400x1600.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  min-width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  color: hsl(0, 0%, 100%);
}

.title {
  font-family: var(--Montserrat);
}

.hero__title {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.hero__text {
  font-family: var(--Hind);
}

.hero__button {
  padding: 0.75rem 1.25rem;
  background-color: var(--plain);
  color: hsl(0, 0%, 100%);
  border: 0;
  border-radius: 100rem;

  cursor: pointer;

  transition: all 250ms ease-in-out;
}

.hero__button:hover {
  background-color: var(--dark);

  transition: all 250ms ease-in-out;
}

.hero__button:active {
  background-color: var(--plain);
}

.accent-background {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.35), var(--accent));
  background-color: var(--accent);
}

.cta {
  margin: auto;
  padding: 15rem 0;
  width: 55%;
  height: 14rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  color: hsl(0, 0%, 100%);
}

.cta__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta__action {
  display: flex;
  align-self: center;
}

.cta__title {
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  text-transform: uppercase;
}

.cta__text {
  margin: 1rem 0;
  font-family: var(--Hind);
  width: 70%;
}

.cta__button {
  padding: 0.75rem 1.25rem;
  background-color: var(--dark);
  color: hsl(0, 0%, 100%);
  border: 0;
  border-radius: 100rem;

  cursor: pointer;

  transition: all 250ms ease-in-out;
}

.cta__button:hover {
  background-color: var(--plain);

  transition: all 250ms ease-in-out;
}

.cta__button:active {
  background-color: var(--dark);
}

.services {
  margin: auto;
  width: 85%;
}

.services__column {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  text-align: center;
  width: 20%;

  transition: color 350ms ease-in-out;
}

.services__column:hover {
  color: var(--accent);
  transition: color 350ms ease-in-out;
}

.services__header {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.services__title {
  font-size: 2.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

.ellipsis {
  width: 32px;
  padding: 1rem 0;
}

.services__text {
  font-family: var(--Hind);
}

.services__main {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}

.services__icon__image {
  margin: 1rem 0;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.35), var(--accent));
  border-radius: 26%;
  padding: 1rem;

  box-shadow: inset 0 0 0 1000px var(--accent);
}

.services__copy__title {
  font-weight: 700;
  font-size: 1.2rem;
}

.services__copy__text {
  margin-top: 0.8rem;

  color: var(--blackish);
  font-family: var(--Hind);
  text-align: justify;
}

.light-background {
  background-color: var(--light-accent);
}

.about-us {
  width: 90%;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  gap: 1rem;
}

.about-us__image {
  width: 80rem;
  padding: 1rem;
}

.about-us__copy {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  gap: 0.75rem;
}

.about-us__title {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
}

.about-us__desc {
  font-size: 1.25rem;
}

.about-us__text {
  font-family: var(--Hind);
}

.about-us__button {
  margin-top: 2rem;
  padding: 0.2rem 1rem;
  border: 0;
  border-radius: 100rem;
  background-color: var(--dark);
  color: hsl(0, 0%, 100%);

  cursor: pointer;
}

.about-us__button:hover {
  background-color: var(--accent);
}

.about-us__button:active {
  background-color: var(--dark);
}

.dark-background {
  background: linear-gradient(to bottom, var(--blackish), var(--blackest));
}

.testimonials {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  font-size: 1.2rem;

  color: hsl(0, 0%, 90%);
}

.testimonials__title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
}

.testimonials__row {
  display: flex;
  margin: 0 auto;
  padding: 5rem;
  gap: 5rem;
  justify-content: space-between;
  text-align: left;
}

.testimonial {
  position: relative;

  padding: 3.5rem 1rem 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: var(--blackish);
}

.testimonial__img-crop {
  position: absolute;
  top: -3.5rem;
  left: -3rem;

  align-self: center;

  width: 7rem;
  height: 7rem;
  overflow: hidden;
  border-radius: 50%;
  border: 0.75rem solid var(--blackish);
}

.testimonial__name {
  text-align: right;
  color: var(--accent);

  font-family: var(--Montserrat);
}

.standout {
  font-weight: bold;
}

.a-btn {
  text-decoration: none;
  color: inherit;
}

/* ! SERVICES PAGE */

.main-services {
  padding: 1rem 0;
  width: fit-content;
  height: min-content;
  margin-inline: 1rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;

  color: var(--blackish);
}

.service__item {
  margin-bottom: 1rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 32%;
  /* padding: 1rem; */

  border-radius: 1rem;
}

.service__item__img {
  border-radius: 1rem 1rem 0 0;
  padding-bottom: 1rem;
}

.service__item__title {
  margin-inline: 1rem;
  padding-bottom: 0.75rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--Montserrat);
}

.service__item__text {
  margin: 0 1rem 1rem 1rem;
  font-size: 1.15rem;
  font-family: var(--Hind);
}

/* ! CONTACT PAGE */

.form-container {
  padding-top: 2rem;
  min-height: 92.66vh;
  width: 70%;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  color: #eee;
}

.form-text {
  font-family: "Hind", sans-serif;
  width: 70%;
}

.form-text__title {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.form-text__subtitle {
  font-size: 1.25rem;
}

.form-text__emergency-text {
  margin-block: 0.75rem;
  font-style: italic;
}

.emergency-num {
  color: #eee;
  font-weight: 600;
  text-decoration: none;
}

.emergency-num:hover {
  text-decoration: underline;
}

.contact {
  width: 70%;
}

.contact-form {
  max-width: 100%;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.grid-span-2 {
  grid-column: span 2;
}

input {
  padding-inline: 0.5rem;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #eee;

  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

textarea {
  background-color: #eee;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.5rem;

  width: 100%;
  height: 8rem;
}

.contact-form__row {
  position: relative;
}

.contact-form__label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(11px, 11px);
  transition: all 0.25s;

  color: var(--blackish);
}

input:focus + .contact-form__label,
input:not(:placeholder-shown) + .contact-form__label {
  transform: translate(0, -25px) scale(1.1);
  color: #eee;
  padding-inline: 5px;
}

.contact-form__label-details {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(11px, 11px);
  transition: all 0.25s;

  color: var(--blackish);
}

textarea:focus + .contact-form__label-details,
textarea:not(:placeholder-shown) + .contact-form__label-details {
  transform: translate(0, -25px) scale(1.1);
  color: #eee;
  padding-inline: 5px;
}

.contact-form__button,
.contact-form__button:active {
  background-color: #eee;
  transition: all 0.2s;

  cursor: pointer;
}

.contact-form__button:hover {
  background-color: #ccc;
  transition: all 0.2s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@media only screen and (max-width: 1400px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .fencing {
    grid-column: span 2;
    height: 80vh;
  }
}

@media screen and (max-width: 1300px) {
  .parrallax-window {
    background-size: 200%;
    background-position: center;
  }

  .services__column {
    width: 30%;
  }

  .testimonials__desc {
    margin-bottom: 5rem;
  }

  .testimonial__text,
  .testimonial__name {
    padding: 0 1rem;
  }

  .testimonial__text {
    margin-top: 3rem;
  }

  .testimonials__row {
    flex-direction: column;
    padding: 0;
  }

  .testimonial {
    padding: 1rem 0;
    max-width: 100vw;
  }

  .service__item {
    width: 48%;
  }
}

@media screen and (max-width: 1000px) {
  .logo {
    width: fit-content;
    margin: auto;
  }

  .active {
    text-decoration: none;
    text-underline-offset: unset;
  }

  .cta {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
  }

  .cta__copy {
    align-items: center;
  }

  .services__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .services-column {
    width: 80%;
  }

  .services__copy__text {
    width: 50vw;
  }

  .about-us {
    flex-direction: column-reverse;
    width: 70vw;
  }

  .testimonial {
    width: 70vw;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .service__item {
    margin-inline: 1rem;
    width: 60%;

    height: fit-content;
    background-position: center;
  }

  .fencing {
    grid-column: initial;
  }

  .email,
  .phone {
    grid-column: span 2;
  }
}

@media screen and (max-width: 850px) {
  .form-container {
    padding-bottom: 2rem;
    width: 90%;
  }

  .contact {
    width: 90%;
  }

  .form-text {
    width: 90%;
  }
}

@media screen and (max-width: 750px) {
  .service__item {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .parrallax-window {
    background: var(--blackest);
    padding: 0 0.5rem;
  }

  .hero__title,
  .services__title,
  .cta__title,
  .about-us__title {
    font-size: 1.75rem;
    text-align: center;
  }

  .cta {
    width: 100%;
  }

  .services__main {
    justify-content: center;
    gap: 0.5rem;
  }

  .services__column {
    width: 100%;
    justify-content: center;
  }

  .services__copy__text {
    width: 100%;
  }

  .about-us {
    width: unset;
    padding-block: 1.5rem;
    padding-inline: 0.5rem;
  }

  .about-us__copy {
    align-items: center;
  }
}
